.App {
}

header {
  display: flex;
  justify-content: space-around;
}

.mainTitle {
  color: white;
}

.squad {
  display: flex;
  flex-direction: column;
  /* width: 80vw; */
  /* max-width: 80vw; */
}

.squadList {
  display: flex;
  /* justify-content: space-between; */
  max-width: 100vw;
  /* flex-wrap: wrap; */
  overflow: scroll;
}

.squadContainer {
  display: flex;
  justify-content: center;
}

.player {
  background-image: url('https://scontent.xx.fbcdn.net/v/t1.15752-9/222193876_292896532593160_624424671877791562_n.png?_nc_cat=100&ccb=1-3&_nc_sid=aee45a&_nc_ohc=kztlqwu-NkkAX8uyQUJ&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=d303d4c00c57006360e1672bc4c4f67a&oe=6128CCE7');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  height: 400px;
  min-width: 270px;
  margin: 2em;
}

.player:hover {
  background-image: url('https://scontent.xx.fbcdn.net/v/t1.15752-9/226077811_931117614135776_1330883807236193151_n.png?_nc_cat=110&ccb=1-3&_nc_sid=aee45a&_nc_ohc=vpI9R1wcjSkAX-iC008&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=1443dfca95eb7847a6d7fa0fa388e281&oe=612A08AA');
}

.playerStats {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: flex-end;
  padding-bottom: 4.5vh;
}

.playerStats1 {
  margin-right: 30px;
}

.stat {
  margin-top: 0;
  margin-bottom: 0;
  padding: 1em;
}

.playerName {
  display: flex;
  justify-content: center;
  padding-top: 4vh;
}

.playerImage {
  width: auto;
  height: 14vh;
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.teamsTitle {
  display: flex;
  justify-content: center;
  color: white;
}

.teams {
  display: flex;
  justify-content: space-around;
}

.playingSquad {
  display: flex;
  flex-direction: column;
  /* width: 80vw;
  max-width: 80vw; */
}

.playingSquadList {
  display: flex;
  overflow: scroll;
  max-width: 100vw;
  /* flex-wrap: wrap; */
}

.playingSquadContainer {
  display: flex;
  justify-content: center;
  /* max-height:400px */
}

.title {
  color: white;
}

.teamTitleContainer {
  display: flex;
  justify-content: center;
}

.playerAndForm {
  display: flex;
}

label {
  color: white;
}

.gameForm {
  display: flex;
  justify-content: center;
}

.submitButton {
  margin-bottom: 10vh;
  width: 10vw;
  height: 2vw;
  border: solid white;
  border-radius: 10px;
}

.createTeamBtn {
  width: 10vw;
  height: 2vw;
  border: solid white;
  border-radius: 10px;
}

button:Hover {
  background-color:green;
  color: white
}

.teamGoalsForm {
  display: flex;
  justify-content: center;
  margin: 10px
}

.team1GoalForm {
  padding: 10px
}


