.GameForm_teamGoalsForm {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.GameForm_team1GoalForm {
  padding: 10px;
}

.GameForm_gameForm {
  display: flex;
  justify-content: center;
}

.GameForm_submitButton {
  margin-bottom: 10vh;
  width: 10vw;
  height: 2vw;
  border-radius: 10px;
  border: none;
  background-color: #04AA6D;
  color: white;
  cursor: pointer;
}

.GameForm_submitButton:hover {
  opacity: 0.8;
}