.HomePage_homePage {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: space-around;
  position: relative;
  bottom: 90px
}

.HomePage_buttonDiv {
  display: flex;
  justify-content: center;
}

/* .HomePage_viewSquadBtn {
  width: 10vw;
  height: 2vw;
  border: solid white;
  border-radius: 10px;
} */

.HomePage_viewSquadBtn:hover {
  opacity: 0.8;

}

.HomePage_viewSquadBtn {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;

}

