.PlayingSquad_playingSquad {
  display: flex;
  flex-direction: column;
}

.PlayingSquad_playingSquadList {
  display: flex;
  padding: 3rem;
  overflow: scroll;
  justify-content: center;
}

.PlayingSquad_titleContainer {
  display: flex;
  justify-content: center;
}

.PlayingSquad_title {
  color: white;
  padding: 0px;
  margin: 0px;
}