.Player_playerImage {
  position: absolute;
  width: 150px;
  height: auto;

}

.Player_playerImageContainer {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 270px;
  top: 107px
}

.Player_cardImage {
  height: 400px;
  min-width: 270px;
  position: relative;
  filter: drop-shadow(-1rem 0 3rem #000);
  transition: 0.2s;
  display: flex;
}

.Player_playerAndForm {
  display: flex;
}

.Player_cardImage:focus {
  transform: translateY(-4rem);
}

.Player_cardImage:hover ~ .cardImage {
  transform: translate(130px);
}

.Player_cardImage:not(:first-child) {
  margin-left: -130px;
}

.Player_playerCard {
  height: 400px;
  min-width: 270px;
  transition: 0.2s;
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  /* visibility: hidden; */
  animation: fadeIn 0.75s;
  -webkit-animation: fadeIn 0.75s;
  -moz-animation: fadeIn 0.75s;
  -o-animation: fadeIn 0.75s;
  -ms-animation: fadeIn 0.75s;

}

/* .fade-in-image {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
} */
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.Player_playerCard:hover {
  transform: translateY(-1rem);
}

.Player_playerCard:hover ~ .Player_playerCard {
  transform: translate(130px);
}

.Player_playerCard:not(:first-child) {
  margin-left: -130px;
}

.Player_playerName {
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 4vh;
  text-shadow: -1px 1px 8px grey;
}

.Player_playerStats {
  position: absolute;
  display: flex;
  height: 355px;
  width: 270px;
  justify-content: center;
  align-items: flex-end;
}

.Player_playerStats1 {
  margin-right: 30px;
}

.Player_playerStats2 {
}

.Player_stat {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.5em;
  font-weight: bold;
}

.Player_whiteStat {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.5em;
  color: white;
}

.Player_whitePlayerName {
  color: white;
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 4vh;
}