.Squad_squad {
  display: flex;
  flex-direction: column;
}

.Squad_squadList {
  display: flex;
  padding: 3rem;
  overflow: scroll;
  padding-top: 6rem;
  justify-content: center
}

.Player_cardImage:focus {
  transform: translateY(-4rem);
}

.Player_cardImage:hover ~ .cardImage {
  transform: translate(130px);
}

.Player_cardImage:not(:first-child) {
  margin-left: -130px;
}

.Player_playerCard {
  height: 400px;
  min-width: 270px;
  transition: 0.2s;
  position: relative;
  display: flex;
  flex-direction: column;
}

.Player_playerCard:hover {
  transform: translateY(-1rem);
}

.Player_playerCard:hover ~ .Player_playerCard {
  transform: translate(130px);
}

.Player_playerCard:not(:first-child) {
  margin-left: -130px;
}

.Player_playerName {
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 4vh;
  text-shadow: -1px 1px 8px grey;
}

.Player_playerStats {
  position: absolute;
  display: flex;
  height: 355px;
  width: 270px;
  justify-content: center;
  align-items: flex-end;
}

.Player_playerStats1 {
  margin-right: 30px;
}

.Player_playerStats2 {
}

.Player_stat {
  margin-top: 0;
  margin-bottom: 0;
  padding: 1em;
}

.Player_whiteStat {
  margin-top: 0;
  margin-bottom: 0;
  padding: 1em;
  color: white;
}

.Player_whitePlayerName {
  color: white;
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 4vh;
}