.Squad_squad {
  display: flex;
  flex-direction: column;
}

.Squad_squadList {
  display: flex;
  padding: 3rem;
  overflow: scroll;
  /* padding-top: 6rem; */
  justify-content: center
}

.Squad_titleContainer {
  display: flex;
  justify-content: center;
}

.Squad_title {
  color: white;
  padding: 0px;
  margin: 0px;
}

.Squad_container {
  height: 53.5vh;
}

.Squad_addPlayerButton {
    width: 10vw;
  height: 2vw;
  border-radius: 10px;
  border: none;
  background-color: #04AA6D;
  color: white;
  cursor: pointer;
}

.Squad_buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center
}

