.Teams_teamsTitle {
  display: flex;
  justify-content: center;
  color: white;

}

.Teams_teams {
  display: flex;
  justify-content: space-around;
}

.Teams_title {
  color: white;
}

.Teams_teamTitleContainer {
  display: flex;
  justify-content: center;
    position: relative;
  right: 5.5vw;
}

.Teams_GameForm {
  display: flex;
  flex-direction: column;
  border: solid white;
  width: 30vw;
  height: 10vh;
  background-color: #04aa6d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000

}

.Teams_GameFormContainer {
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;

}
